<!--検索枠-->
<!--todo 住所で検索機能-->
<%= bootstrap_form_tag url:root_path ,action: 'index', layout: :inline  do %>
    <p class="navbar-brand navbar-right">
      <%= hidden_field_tag :latitude,@latitude ,id: 'latitude',class: "form-control mr-sm-2"%>
      <%= hidden_field_tag :longitude,@longitude ,id: 'longitude',class: "form-control mr-sm-2"%>

      <!--rangeドロップダウン-->
      現在地から半径
      <%= select_tag 'range', options_for_select([["300","1"], ["500","2"], ["1000","3"], ["2000","4"], ["3000","5"]],:selected=>"2") %>
      m 以内のお店
      <%= submit_tag '検索' , class: "btn btn-outline-success my-2 my-sm-0" %>
    </p>
<% end %>