

<!--レストラン一覧の本体-->
<!--todo 表示のレイアウトを揃える、-->
<div class="row">
  <% if @res['rest'] then%>
    <% @res['rest'].size.times do |i| %>
        <div class="col-md-4 hidden-xs">
          <div class="text-center">
                <a class="bg-info btn btn-success btn-lg" href=<%='/show/'+@res['rest'][i]['id'] %> >
                  <br>
                  <%
                    image = @res['rest'][i]['image_url']['shop_image1']
                    if image.empty? then
                  %>
                      <%= image_tag 'no_image.jpg'%>
                  <% else %>
                      <%= image_tag image %>
                  <% end %>
                  <br>
                  <%= @res['rest'][i]['name']%><br>
            <br>
            <%= @res['rest'][i]['access']['line']%>
            <%= @res['rest'][i]['access']['station']%><br>
            <%= @res['rest'][i]['access']['walk'] +'分'%>
            </a>
          </div>
        </div>
    <%end%>
  <%end%>

</div>



