
<div class="container">

  <!--検索結果-->
  <%
    if @res['total_hit_count'].to_i > 0 then
      result = @res['total_hit_count'] + '件の結果が見つかりました。'
    else
      result = '結果が見つかりませんでした。'
    end
  %>

  <!--todo レストラン検索、位置情報で検索機能-->
  <div class="jumbotron">
    <h1>レストラン検索</h1>
    <p>検索条件を入力してください。</p>
    <p>
      現在地から
      半径 以内を検索
      <a class="btn btn-success btn-lg" href="#">検索する</a>

      <br>検索結果 : <%= result %>

    </p>
  </div>



  <!--レストラン一覧(12個ずつ)-->
  <div id="show">
    <%= render :partial =>'showAll' %>
  </div>


  <!--ページング-->
  <!--todo ajaxページングにする、0以下max以上の例外処理をする-->
  <%= link_to pages_path(@res['page_offset'].to_i-1) do %>前へ<%end%>
  <%= link_to pages_path(@res['page_offset'].to_i+1) do %>次へ<%end%>

  <!--結果件数の上限を保存し表示-->
  <!--todo 結果件数がないのに値が更新(インクリ、デクリ)されて違う値がでるところを治す、例外処理-->
  <%
    if @res['page_offset'].to_i*12 <= @res['total_hit_count'].to_i then
      result = @res['page_offset'].to_i*12
    else
      result = @res['total_hit_count']
    end
  %>
  <%=@res['page_offset']%>ページ目を表示( <%= @res['total_hit_count'] %>件中:
  <%=(@res['page_offset'].to_i-1)*12%>件から<%=result%>件 )

</div>