
<div class="container">

  <%
    if @res['total_hit_count'].to_i > 0 then
      result = @res['total_hit_count'] + '件の結果が見つかりました。'
    else
      result = '結果が見つかりませんでした。'
    end
  %>
  <div class="jumbotron">
    <h1>レストラン検索</h1>
    <p>検索条件を入力してください。</p>
    <p>
      現在地から
      半径 以内を検索
      <a class="btn btn-success btn-lg" href="#">検索する</a>

      <br>検索結果 : <%= result %>

    </p>
  </div>



  //１ページの一覧(12個ずつ)
  <%= render(:partial => "showAll") %>


  目を表示( <%= @res['total_hit_count'] %>件中<%= @res['page_offset'].to_i * 10 %>件 )

  <%#= paginate [1...500] %>


  <%= form_tag 'get_info' , :remote => true do %>
      <%= submit_tag "次へ"%>
  <% end %>


</div>