
<div class="container">

  <!--検索結果-->
  <%
    if @res['total_hit_count'].to_i > 0 then
      result = @res['total_hit_count'] + '件の結果が見つかりました。'
    else
      result = '結果が見つかりませんでした。'
    end
  %>

  <!--検索枠-->
  <!--todo 位置情報で検索機能-->
  <div class="jumbotron">
    <h1>レストラン検索</h1>
    <p>検索条件を入力してください。</p>
      <%= form_tag root_path ,action: 'index',method: 'post' do %>
        <p>現在地
          緯度:<%= text_field_tag :latitude,@latitude ,id: 'latitude'%>
          経度:<%= text_field_tag :longitude,@longitude ,id: 'longitude'%>
        </p>
        <p>半径
          <%= text_field_tag :range,(@range.to_i*300) %>
        m 以内のお店(300mごと)</p>
        <%= submit_tag '検索' %>
    <% end %>
      <br>検索結果 : <%= result %>

    :::

  </div>
  lang :<%= @latitude %>
  longi:<%= @longitude %>
 range : <%= @range%>
  page:<%= @page %>

  <!--レストラン一覧(12個ずつ)-->
  <div id="show">
    <%= render :partial =>'showAll' %>
  </div>

  <!--ページング-->
  <!--todo ajaxページングにする、0以下max以上の例外処理をする-->
  <div class="text-center">
    <br><br>
    <%= link_to pages_path(@res['page_offset'].to_i-1) do %><p class="btn btn-success btn-lg">前へ</p><%end%>
    <%= link_to pages_path(@res['page_offset'].to_i+1) do %><p class="btn btn-success btn-lg">次へ</p><%end%>
    <br>

    <!--ページング2のため結果件数の上限を保存-->
    <!--todo 結果件数がないのに値が更新(インクリ、デクリ)されて違う値がでるところを治す、例外処理-->
    <%
      if @res['page_offset'].to_i*12 <= @res['total_hit_count'].to_i then
        result = @res['page_offset'].to_i*12
      else
        result = @res['total_hit_count']
      end
    %>

    <!--ページング2-->
    <%=@res['page_offset']%>ページ目を表示( <%= @res['total_hit_count'] %>件中:
    <%=(@res['page_offset'].to_i-1)*12%>件から<%=result%>件 )
  </div>
</div>