
<!--詳細画面-->
<!--todo 営業時間パラメータに<BR>がある場合のエンコード処理-->
<br><br><br><br><br>
<div class="text-center">

  <!--名称-->
  <%
    name = @res['rest']['name']
    if name.empty? then
  %>
      <%='店舗名情報がありません'%>
  <% else %>
    <h2 class="text-center"><%= name %></h2>
  <% end %><br><br>

  <h3>
    <!--画像-->
      <div class="jumbotron">
    <% 1.upto(2) do |i|%>
      <%
        image = @res['rest']['image_url']['shop_image'+i.to_s]
        if image.empty? then
      %>
          <%= image_tag 'no_image.jpg'%>
      <% else %>
          <%= image_tag image %>
      <% end %>
    <% end %>
      </div>
    <br>

    <!--営業時間-->
    <%
      opentime = @res['rest']['opentime']
      if opentime.empty? || opentime["0"] == " " then
    %>
        <%='時間情報がありません'%>
    <% else %>
        営業時間：
        <%= opentime %>
    <% end %><br><br>

    <!--電話番号-->
    <%
      tel = @res['rest']['tel']
      if tel.empty? || tel["0"] == " " then
    %>
        <%='電話情報がありません'%>
    <% else %>
        電話番号：
        <%= tel %>
    <% end %><br><br><br>

  <!--住所-->
    <%
      address = @res['rest']['address']
      if address.empty? || address["0"] == " " then
    %>
        <%='住所情報がありません'%>
    <% else %>
        場所：
        <%= address %>
    <% end %><br><br>

    <!--url-->
    <%
      url = @res['rest']['url']
      if url.empty? || url["0"] == " " then
    %>
        <%='サイト情報がありません'%>
    <% else %>

        <%= link_to 'ぐるなびで見る',url %>
    <% end %><br><br>

  </h3>
</div>
<!--googlemapで住所表示-->
<div id="googlemaps">
  <%= render :partial =>'googlemaps' %>
</div>

<br><br><br><br><br>
<!--戻るボタンフッター-->
<div class="navbar navbar-inverse navbar-fixed-bottom">
  <%= link_to :back do%><p class="navbar-brand">戻る</p><%end%>
</div>
