
<!--詳細画面-->
<!--todo 営業時間パラメータに<BR>がある場合のエンコード処理-->
<br><br>

<div class="jumbotron">
  <div class="text-center">

    <!--名称-->
    <%
      name = @res['rest']['name']
      if name.empty? then
    %>
        <%='店舗名情報がありません'%>
    <% else %>
      <h1 class="text-center"><%= name %></h1>
    <% end %><br><br>

    <!--住所-->
    <h3>
    <%
      address = @res['rest']['address']
      if address.empty? then
    %>
        <%='住所情報がありません'%>
    <% else %>
        <%= address %>
    <% end %><br><br>

    <!--画像-->
    <% 1.upto(2) do |i|%>
      <%
        image = @res['rest']['image_url']['shop_image'+i.to_s]
        if image.empty? then
      %>
          <%= image_tag 'no_image.jpg'%>
      <% else %>
          <%= image_tag image %>
      <% end %>
    <% end %>
    <br>

    <!--営業時間-->
    <%
      opentime = @res['rest']['opentime']
      if opentime.empty? || opentime["0"] == " " then
    %>
        <%='開店時間情報がありません'%>
    <% else %>
        <%= opentime %>
    <% end %><br><br>

    <!--電話番号-->
    <%
      tel = @res['rest']['tel']
      if tel.empty? then
    %>
        <%='電話情報がありません'%>
    <% else %>
        <%= tel %>
    <% end %><br>
    </h3>
  </div>
</div>

<p class="text-center"><%= link_to '戻る', :back%></p>