<!DOCTYPE html>
<html>
  <head>
    <title>レストラン検索</title>
    <meta charset="utf-8">
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <!--起動時に位置情報を取得して自動的にフォームにいれる-->
    <script>
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                // success callback
                function(position) {
                    document.querySelector('#latitude').value = position.coords.latitude;
                    document.querySelector('#longitude').value = position.coords.longitude;
                },
                // error callback
                function(position) {
                    alert( "位置情報を取得できません" );
                }
            )
        }
    </script>
  </head>

  <body>
    <!-- Navbar Start-->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand text-muted" href="/">HOME</a>

        <!--検索フォーム-->
        <%=render :partial =>'form'%>

        <!--todo 地図と周辺を選択することでMap表示と一覧表示で切り替えて検索、表示できるようにする-->
        <ul class="nav navbar-nav navbar-left">
          <li class="active"><a href="/">周辺検索</a></li>
          <li><a href="/">地図検索</a></li>
        </ul>

      </div>
    </div>
    <!-- End of Navber -->

    <%= yield %>

  </body>
</html>
